<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="perspective" translate="label" sortOrder="200">
            <label>Perspective</label>
        </tab>
        <section id="checkout_field" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout Field Configuration</label>
            <tab>perspective</tab>
            <resource>Perspective_CheckoutField::config</resource>
            <group id="vat_validation" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>VAT Number Validation</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable VAT Validation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable VAT number validation during checkout</comment>
                </field>
                <field id="required" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>VAT Number Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Make VAT number field required for EU countries</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="allowed_countries" translate="label comment" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Countries for VAT</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <comment>Select countries where VAT validation is applicable</comment>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="show_in_order_details" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show VAT in Order Details</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Display VAT number in admin order details</comment>
                </field>
            </group>
        </section>
    </system>
</config>