<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="perspective" translate="label" sortOrder="400">
            <label>Perspective Extensions</label>
        </tab>
        <section id="inventory_sync" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Inventory Sync with Laravel</label>
            <tab>perspective</tab>
            <resource>Perspective_InventorySync::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Inventory Sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Laravel API URL</label>
                    <comment>Example: http://laravel-nginx-1/api/inventory</comment>
                    <validate>required-entry validate-url</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="timeout" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Timeout (seconds)</label>
                    <comment>Default: 30 seconds</comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="auto_sync" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Auto Sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Automatically sync inventory on product save</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sync_on_save" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync on Product Save</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Sync inventory when product is saved</comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="auto_sync">1</field>
                    </depends>
                </field>
                <field id="sync_on_order" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync on Order Placed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Sync inventory when order is placed</comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="auto_sync">1</field>
                    </depends>
                </field>
                <field id="debug_mode" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable detailed logging</comment>
                </field>
            </group>
        </section>
    </system>
</config>
