<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         columns="max"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="./../../../../dev/tests/integration/framework/bootstrap.php"
         stderr="true">
    <testsuites>
        <testsuite name="Perspective CheckoutField Integration Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>.</includePath>
        <includePath>./../../../../dev/tests/integration/testsuite</includePath>
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
        <const name="TESTS_INSTALL_CONFIG_FILE" value="etc/install-config-mysql.php"/>
        <const name="TESTS_GLOBAL_CONFIG_FILE" value="etc/config-global.php"/>
        <const name="TESTS_GLOBAL_CONFIG_DIR" value="../../../dev/tests/integration/etc"/>
        <const name="TESTS_CLEANUP" value="enabled"/>
        <const name="TESTS_MEM_USAGE_LIMIT" value="4G"/>
        <const name="TESTS_MEM_LEAK_LIMIT" value=""/>
        <const name="TESTS_EXTRA_VERBOSE_LOG" value="1"/>
        <const name="TESTS_MAGENTO_MODE" value="developer"/>
        <const name="TESTS_ERROR_LOG_LISTENER_LEVEL" value="-1"/>
    </php>
    <coverage>
        <report>
            <html outputDirectory="./../../../../dev/tests/integration/tmp/coverage"/>
            <clover outputFile="./../../../../dev/tests/integration/tmp/coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>